extends layout

block content
    h1 #{title}: #{bookinstance._id}
    p 
      Book: a(href='/catalog/'+bookinstance.book.url) #{bookinstance.book.title}
    p Due Back: #{bookinstance.due_back_formatted}
    
    form(method='POST' action='')
      div.form-group
        input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

      button.btn.btn-primary(type='submit') Delete